<script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="6b9d8582-f909-418d-a940-c4bf2654072e" data-blockingmode="auto" type="text/javascript"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-02PFSLQQ2J"></script>
<script data-cookieconsent="ignore">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
      dataLayer.push(arguments);
  }
  gtag("consent", "default", {
      ad_storage: "denied",
      analytics_storage: "denied",
      wait_for_update: 500
  });
  gtag("set", "ads_data_redaction", true);
</script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-02PFSLQQ2J');
</script>